@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>For more information on enabling MVC for empty projects, visit <a href="https://go.microsoft.com/fwlink/?LinkID=397860"></a>.</p>
</div>
